.modal {
  width: 100px;
  position: absolute;
  // top: 30px;
  // left: 30px;
  background-color: var(--bg-modal-color);
  border-radius: var(--border-radius-btn);
  border: 1px solid var(--header-modal-border-color);
  padding: 18px 44px 18px 18px;
  box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .theme-input:checked + .theme-label,
  .theme-label:hover {
    color: var(--header-theme-option-accent-color);
  }

  .theme-label {
    color: var(--header-theme-option-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    text-transform: capitalize;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
  }
}
